
{% extends "layout.html" %}

{% block body %}

<img src="https://pixabay.com/get/55e0dc464b57ac14f6da8c7dda6d49214b6ac3e45657744f7c2d7ed493/silhouette-3095150_1280.png" alt="rose" style="width:620px;height:320px;" >


<h1>Kids say the darnest things</h1>
<br />

<p>Lasten sanonnoissa voit luoda ja tallentaa lapsiesi ikimuistoisimpia, hauskimpia ja raivostuttavimpia sanontoja .<br>Voit luoda tunnukset ja aloittaa tallennuksen tai kirjautumattomana vain nauttia ja viihtyä jo sanottujen sanontojen parissa.</p>




{% endblock %}