{% extends "layout.html" %}


{% block body %}
<form method="POST" action="{{ url_for('child_create') }}">
  <table>
    <h5>Lisää uusi lapsi. Kirjoita syntymäpäivä muodossa yyyy-mm-dd</h5>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <div class="alert alert-danger">
              {{ error }}
              </div>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td>
        {{ form.birthday.label }}
      </td>
      <td>
        {{ form.birthday }} 
      </td>
      <td>
        <ul>
          {% for error in form.birthday.errors %}
          <div class="alert alert-danger">
              {{ error }}
              </div>
          {% endfor %}
        </ul>
      </td>
    </tr>
 
    <tr>
        
      <td colspan="2">
        <input type="submit" value="Lisää lapsi" />
      </td>
    </tr>
</form>
{% endblock %}
