{% extends "layout.html" %}

{% block body %}


<h2 style="color: teal"> {{ current_user.name }} lapset </h2>
<br>
<table>
    <tr>
        <th>Lapsen nimi</th>
        <th>Syntymäpäivä</th>
    </tr>
    {% for child in find_users_children %}

    <tr>
        <td>{{ child.name }} &nbsp; &nbsp; &nbsp;</td>
        <td>{{ child.birthday }} </td>
        <td>
            <a href="{{ url_for('quotes_form', child_id = child.id) }}">
                <button type="submit" class="btn btn-default">Lisää sanonta</button>
            </a>
        </td>
        <td>
            <a href="{{ url_for('quotes_childquotes', child_id = child.id) }}">
                <button type="submit" class="btn btn-default">Lapsen sanonnat</button>
            </a>
        </td>
        <td>
            <a href="{{ url_for('child_modifychild', child_id = child.id) }}">
                <button type="submit" class="btn btn-default">Muokkaa lapsen tietoja</button>
            </a>
        </td>
    
    </tr>

    {% endfor %}
</table>
{% endblock %}





