{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <th>Käyttäjän id:: &nbsp; &nbsp; &nbsp;</th>
    <th>Nimi: &nbsp; </th>
    <th>Käyttäjänimi &nbsp; &nbsp; &nbsp; </th>
    <th>Käyttäjärooli &nbsp; &nbsp; &nbsp; </th>
    <th>Luotu: &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;</th>
    <th> Muokattu: </th>
  </tr>
  <tr>
    <h3 style="color: teal">Käyttäjä {{user.name}}</h3>
  </tr>

  <tr>
    <td>{{ user.id }} </td>
    <td>{{ user.name }} </td>
    <td>{{ user.username }}  </td>
    <td>{{ user.role }} </td>
    <td>{{ user.date_created }} </td>
    <td>{{ user.date_modified }} </td>

  </tr>
  {% if current_user.is_authenticated and current_user.role == 'USER' %}
  <td>
    <a href="{{ url_for('user_update', user_id=user.id, children=children) }}">
      <button type="submit" class="btn btn-default">Muokkaa tietoja tai vaihda salasana</button>
    </a>
  </td>
  <td>
      <a href="{{ url_for('user_delete', user_id = user.id) }}">
        <button type="submit" class="btn btn-default">Poista käyttäjätili</button>
      </a>
    </td>
  {% endif %}
  <tr>
    <th>Lapset: &nbsp; &nbsp; &nbsp;</th>

  </tr>
  <tr>
    <th>Lapsen nimi: &nbsp; &nbsp; &nbsp;</th>
    <th>Lapsen syntymäpäivä: &nbsp; &nbsp; &nbsp;</th>

  </tr>

  {% for c in children %}

  <tr>
    <td>{{ c.name }} &nbsp; &nbsp; &nbsp;</td>
    <td>{{ c.birthday }} &nbsp; &nbsp; &nbsp;</td>
  </tr>
  {% endfor %}
  {% if current_user.is_authenticated and current_user.role == 'ADMIN' %}
  <td>
    <a href="{{ url_for('user_index') }}">
      <button type="submit" class="btn btn-default">Palaa listaukseen</button>
    </a>
  </td>
  {% endif %}
</table>
{% endblock %}