
{% extends "layout.html" %}

{% block body %}
  <table>
      <tr>
          <th>Käyttäjänimi &nbsp;&nbsp;</th>
          <th>Lapsimäärä</th>
      </tr>
    <tr>
      <h3 style="color: teal">Käyttäjät</h3>
    </tr>
    {% for user in childrencount %}
    <tr>
        <td>{{ user.username }} &nbsp; &nbsp; &nbsp;</td>
      <td>Lapsia: {{ user.total }} kpl </td>
    </tr>
    {% if current_user.is_authenticated and current_user.role == 'ADMIN' %}
    <td>
      <a href="{{ url_for('user_delete', user_id = user.id) }}">
          <button type="submit" class="btn btn-default">Poista käyttäjä</button>
      </a>
  </td>
  {% endif %}
    {% endfor %}
    <tr>
        {% for user in user_in_all %}
        <h6>Käyttäjiä yhteensä: {{user.total}} &nbsp; &nbsp; &nbsp;</h6>
        {% endfor %}
        {% for child in child_in_all %}
      <h6>Lapsia yhteensä: {{child.total}}</h6>
      {% endfor %}
    </tr>
  </table>
{% endblock %}