{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h2 style="color: teal">Sanonnat kategoriassa {{name}}</h2>
  </tr>
 
  {% for quote in list %}
  <br>
  <br>
  <blockquote class="blockquote">
    <p class="mb-0 " style="color:teal;"><em>{{ quote.name }}</em></p>
    <footer class="blockquote-footer"> {{ quote.n }} {{quote.agesaid}} vuotta

    {% if current_user.is_authenticated %}


    {% if Quote.query.get(quote.id).likestatus(quote.id) == 1 %}
    <a href="{{ url_for('unlike_quote_categorylist', quote_id = quote.id, page=page, category_id=category_id, name=name)}}">
      <button type="submit" class="btn2"><i class="fa fa-heart"></i></button>
    </a>

    {% else %}

    <a href="{{ url_for('like_quote_categorylist', quote_id = quote.id, page=page, category_id=category_id, name=name)}}">
      <button type="submit" class="btn1"><i class="fa fa-heart-o"></i></button>
    </a>

    {% endif %}
    {% endif %}
  </footer>
  </blockquote>

  {% endfor %}
</table>

<ul>
  {% if page >1 %}
  <a href="{{ url_for('quotes_by', page=page_prev, category_id=category_id, name=name) }}">
      <button type="submit" class="btn btn-secondary btn-xs">Edellinen sivu</button>
  </a>

  {% endif %} {% if page < pages %}
  <a href="{{ url_for('quotes_by', page=page_next, category_id=category_id, name=name) }}">
      <button type="submit" class="btn btn-secondary btn-xs">Seuraava sivu</button>
  </a>
  
  {% endif %}
</ul>
Sivu {{page}}
{% endblock %}