{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h2 style="color: teal">Sanonnat iällä {{age}} -vuotta</h2>
  </tr>
  {% if list is defined and list|length > 0 %}
  {% for quote in list %}
  <br>
  <br>
  <blockquote class="blockquote">
    <p class="mb-0 " style="color:teal;"><em>{{ quote.name }}</em></p>
    <footer class="blockquote-footer"> {{ quote.n }} {{quote.agesaid}} vuotta

    {% if current_user.is_authenticated %}


    {% if Quote.query.get(quote.id).likestatus(quote.id) == 1 %}
    <a href="{{ url_for('unlike_quote_agelist', quote_id = quote.id, page=page, age=age)}}">
      <button type="submit" class="btn2"><i class="fa fa-heart"></i></button>
    </a>

    {% else %}

    <a href="{{ url_for('like_quote_agelist', quote_id = quote.id, page=page, age=age)}}">
      <button type="submit" class="btn1"><i class="fa fa-heart-o"></i></button>
    </a>

    {% endif %}
    {% endif %}
  </footer>
  </blockquote>

  {% endfor %}

  {% else %}
  Tällä iällä ei ole vielä lisätty sanontoja
  {% endif %}

</table>

<ul>
  {% if page >1 %}
  <a href="{{ url_for('quotes_by_age', page=page_prev, age=age) }}">
      <button type="submit" class="btn btn-secondary btn-xs">Edellinen sivu</button>
  </a>

  {% endif %} {% if page < pages %}
  <a href="{{ url_for('quotes_by_age', page=page_next, age=age) }}">
      <button type="submit" class="btn btn-secondary btn-xs">Seuraava sivu</button>
  </a>
  
  {% endif %}
</ul>
Sivu {{page}}

{% endblock %}