{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h2 style="color: teal">Sanonnat iällä {{age}}</h2>
  </tr>
  {% if list is defined and list|length > 0 %}
  {% for quote in list %}
  <blockquote class="blockquote">
    <p class="mb-0 " style="color:teal;"><em>{{ quote.name }}</em></p>
    <footer class="blockquote-footer"> {{ quote.n }} {{quote.agesaid}} vuotta</footer>
  </blockquote>

  {% endfor %}

  {% else %}
  Tällä iällä ei ole vielä lisätty sanontoja
  {% endif %}

</table>


{% endblock %}