{% extends "layout.html" %}

{% block body %}
<table>
  <tr>
    <h2 style="color: teal">Sanonnat kategoriassa {{name}}</h2>
    {% if current_user.is_authenticated %}
    <p style="color: rgb(238, 132, 132)">Tykkää sanonnasta painamalla sydäntä</p>
    {% endif %}
  </tr>

  {% if list is defined and list|length > 0 %}

  {% for sum in counts %}
  Kategoriassa sanontoja yhteensä {{sum.total}} kappaletta {{sum.childcount}} lapselta
  {% endfor%}

  {% for quote in list %}
  <br>
  <br>
  <blockquote class="blockquote">
    <p class="mb-1 " style="color:teal;"><em>{{ quote.name }}</em></p>
    <p>
      <font size="4px" color="858483"> &nbsp;&nbsp;&nbsp; - {{ quote.n }} {{quote.agesaid}} vuotta </font>

      {% if current_user.is_authenticated %}

      {% if Quote.query.get(quote.id).likestatus(quote.id) == 1 %}
      <a
        href="{{ url_for('unlike_quote_categorylist', quote_id = quote.id, page=page, category_id=category_id, name=name)}}">
        <button type="submit" class="btn2"><i class="fa fa-heart"></i></button>
      </a>

      {% else %}

      <a
        href="{{ url_for('like_quote_categorylist', quote_id = quote.id, page=page, category_id=category_id, name=name)}}">
        <button type="submit" class="btn1"><i class="fa fa-heart-o"></i></button>
      </a>

      {% endif %}
      {% endif %}
    </p>
  </blockquote>

  {% endfor %}

  {% else %}
  Tällä kategorialle ei ole vielä lisätty sanontoja
  {% endif %}
</table>

<ul>
  {% if page >1 %}
  <a href="{{ url_for('quotes_by', page=page_prev, category_id=category_id, name=name) }}">
    <button type="submit" class="btn btn-secondary btn-xs">Edellinen sivu</button>
  </a>

  {% endif %} {% if page < pages %}
  <a href="{{ url_for('quotes_by', page=page_next, category_id=category_id, name=name) }}">
    <button type="submit" class="btn btn-secondary btn-xs">Seuraava sivu</button>
  </a>

  {% endif %}
</ul>
Sivu {{page}}
{% endblock %}