{% extends "layout.html" %}


{% block body %}
<table>
  <tr>
    <h2 style="color: rgb(83, 82, 83)">Kaikki sanonnat</h2>
    {% if current_user.is_authenticated %}
    <p style="color: rgb(238, 132, 132)">Tykkää sanonnasta painamalla sydäntä</p>
    {% endif %}
    <br>
    <br>

    {% for quote in list %}
    <blockquote class="blockquote" , style="font-size:24px">

      <p class="mb-0 " style="color:rgb(3, 134, 127);"><em>{{ quote.name }}</em></p>
      <p>
        <font size="4px" color="858483"> &nbsp;&nbsp;&nbsp; - {{ quote.n }} {{quote.agesaid}} vuotta </font>

        {% if current_user.is_authenticated %}

        {% if Quote.query.get(quote.id).likestatus(quote.id) == 1 %}
        <a href="{{ url_for('unlike_quote', quote_id = quote.id, page=page)}}">
          <button type="submit" class="btn2"><i class="fa fa-heart"></i></button>
        </a>

        {% else %}

        <a href="{{ url_for('like_quote', quote_id = quote.id, page=page)}}">
          <button type="submit" class="btn1"><i class="fa fa-heart-o"></i></button>
        </a>
        {% endif %}
        {% endif %}
        {% if current_user.is_authenticated and current_user.role == 'ADMIN' %}
        <a href="{{ url_for('quotes_admin_delete', quote_id = quote.id, page=page)}}">
          <button type="submit" class="btn btn-purple btn-xs">Poista sanonta</button>
        </a>
        {% endif %}
        <br>
        <br>
      </p>



    </blockquote>

    {% endfor %}
</table>



<ul>
  {% if page >1 %}
  <a href="{{ url_for('quotes_index', page=page_prev) }}">
    <button type="submit" class="btn btn-secondary btn-xs">Edellinen sivu</button>
  </a>

  {% endif %} {% if page < pages %}
  <a href="{{ url_for('quotes_index', page=page_next) }}">
    <button type="submit" class="btn btn-secondary btn-xs">Seuraava sivu</button>
  </a>

  {% endif %}
</ul>
Sivu {{page}}




{% endblock %}