

{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('quotes_update', quote_id = quote_id) }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        <ul>
          {% for error in form.name.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        {{ form.age.label }}
      </td>
      <td>
        {{ form.age }}
      </td>
      <td>
        <ul>
          {% for error in form.age.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li> {{ form.categories.label }}</li>
          <li style="color:teal;"> {{ form.categories }}</li>
        </ul>
        <ul>
          {% for error in form.categories.errors %}
          <li>{{ error }}</li>
          {% endfor %}

          <p>{{ cate_error }}</p>
        </ul>
      </td>


    </tr>
    <tr>
      <td colspan="2">
        <button type="submit" class="btn btn-success">Muokkaa</button>
      </td>
    </tr>
</form>
{% endblock %}
