{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('quotes_create', child_id = child_id) }}">
  <h4 style="color: teal">Täytä kaikki tarvittavat tiedot ja lisää sanonta lapselle {{name}}</h4>
  <div class="table-condensed">
    <table class="table">
      <tr>
        <td style="color: teal">
          {{ form.name.label }}
        </td>
        <td>
          {{ form.name }}
        </td>
        <td>
          <ul>
            {% for error in form.name.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td style="color: teal">
          {{ form.age.label }}
        </td>
        <td>
          {{ form.age }}
        </td>
        <td>
          <ul>
            {% for error in form.age.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <ul class="list-unstyled">
          <td style="color: teal">
            {{ form.categories.label }}
          </td>
          <td>
            {{ form.categories }}
          </td>
        </ul>
        <td>
          <ul>
            {% for error in form.categories.errors %}
            <div class="alert alert-danger">
              {{ error }}
            </div>
            {% endfor %}
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" class="btn btn-secondary">Lisää sanonta</button>
        </td>
    </table>
  </div>
</form>
{% endblock %}