{% extends "layout.html" %}

{% block body %}


<h2 style="color: teal;"> Lapsesi {{name}} sanonnat </h2>
<td>
<a href="{{ url_for('quotes_form', child_id=child_id)}}">
        <button type="submit" class="btn btn-default">Lisää sanonta lapselle</button>
    </a>
</td>
<br>
<table>
    <br>
    <tr>
        <th>Sanonta</th>
        <th>Ikä, jolloin sanottu</th>
    </tr>
    {% for quote in find_child_quotes(child_id) %}
    <tr>
        <td style="color: rgb(1, 61, 58);">{{quote.quote }} &nbsp; &nbsp; &nbsp;</td>
        <td>{{ quote.agesaid }} vuotta </td>
        <td>
            <a href="{{ url_for('quotes_modifyState', quote_id = quote.id, child_id = child_id)}}">
                <button type="submit" class="btn btn-default">Muokkaa sanontaa</button>
            </a>
        </td>
        <td>
            <a href="{{ url_for('quotes_showOne', quote_id = quote.id)}}">
                <button type="submit" class="btn btn-default">Näytä sanonnan tarkemmat tiedot</button>
            </a>
        </td>
        <td>
            <a href="{{ url_for('quotes_delete', quote_id = quote.id, child_id=child_id)}}">
                <button type="submit" class="btn btn-default">Poista sanonta</button>
            </a>
        </td>
    </tr>

    {% endfor %}
</table>
{% endblock %}
