{% extends "layout.html" %}

{% block body %}
<form method="POST" action="{{ url_for('quotes_get_by_age') }}">
  <table>
    <tr>
      <td>
        {{ form.age.label }}
      </td>
      <td>
        {{ form.age }}
      </td>
      <td>
        <ul>
          {% for error in form.age.errors %}
          <div class="alert alert-danger">
            {{ error }}
          </div>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <button type="submit" class="btn btn-secondary">Näytä sanonnat valitulle iälle</button>
      </td>
    </tr>
</form>
{% endblock %}