
{% extends "layout.html" %}

{% block body %}
  <table>
      <tr>
            <th>Sanonta: &nbsp; &nbsp; &nbsp;</th>
            <th>Luotu &nbsp; &nbsp; &nbsp; </th>
            <th>Muokattu:  &nbsp; &nbsp; &nbsp;</th>
            <th> Ikä &nbsp; &nbsp; &nbsp;</th>
      </tr>
    <tr>
      <h3 style="color: teal">Sanonta</h3>
    </tr>
    
    <tr>
        <td>{{ quote.quote }} &nbsp; &nbsp; &nbsp;</td>
        <td>{{ quote.date_created }} &nbsp; &nbsp; &nbsp; </td>
        <td>{{ quote.date_modified }} &nbsp; &nbsp; &nbsp;</td>
        <td>  {{ quote.agesaid }} -vuotiaana&nbsp; &nbsp; &nbsp;</td>
    </tr>
    <tr>
            <th>Kategoriat: &nbsp; &nbsp; &nbsp;</th>
            
      </tr>
    
      {% for c in categorieslist %}
      
    <tr>
            <td>{{ c.name }} &nbsp; &nbsp; &nbsp;</td>
    </tr>
    {% endfor %}
    <td>
            <a href="{{ url_for('quotes_childquotes', child_id = quote.child_id)}}">
                <button type="submit" class="btn btn-default">Palaa listaukseen</button>
            </a>
        </td>
  </table>
{% endblock %}





