{% extends "layout.html" %}


{% block body %}
<table>
  <tr>
    <h2 style="color: teal">Sanonnat Top 10</h2>

    <ol>
      {% for quote in list %}
      <li>

        <blockquote class="blockquote" , style="font-size:23px">

          <p class="mb-0 " style="color:teal;"><em>{{ quote.name }}</em></p>

          <p>
            <font size="4px" color="858483"> &nbsp;&nbsp;&nbsp; - {{ quote.num }} tykkäystä </font>

          </p>
        </blockquote>
      </li>
      {% endfor %}
    </ol>




</table>
{% endblock %}